body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFD700; /* Cor amarela */
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000; /* Preto */
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.urso-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.urso-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.urso-foto {
    max-width: 100%;
    height: auto;
}
.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form-container {
    width: 300px; /* Largura do formulário */
    text-align: center;
}


.urso-details {
    text-align: center;
}

.field-container {
    background-color: #FFD700; /* Cor amarela */
    border: 2px solid #FFD700; /* Cor da borda */
    border-radius: 10px; /* Borda arredondada */
    margin: 10px auto; /* Margem externa para espaçamento */
    max-width: 300px; /* Largura máxima */
    padding: 10px; /* Preenchimento interno */
}

.field-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.field-value {
    font-size: 18px;
}

.field-value img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    display: block; /* Para garantir que a imagem tenha seu próprio espaço */
}
.form-container {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinhar ao topo */
    height: 100vh;
}
