@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

:root{
    --font: "Almarai", sans-serif;
    --main-color: #5A3632;
    --font-color: #FEFFF8;
}
*{
    margin: 0;
    padding: 0;
    text-align: none;
    font-family: var(--font);
}
html, body{
    height: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
h1{
    font-size: 30px;
}