:root{
    --color01: #F5F5F5;
    --color02: #5A3632;
}
.container-Des {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: hidden;
    height: 100%;
}
.urso-details{
    width: 900px;
    height: 70vh;
    background-color: var(--color01);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px #555; 
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.411);
    border-radius: 2%;
}
.urso-details > h2{
    font-size: 30px;
}
.urso-details > img{
    width: 40%;
    height: 50%;
    border-radius: 30px;
    box-shadow: 7px 7px 4px #0000001f;
    margin: 30px;
}
.field-container{
    background-color: var(--color02);
    width: 30%;
    padding: 12px;
    margin: 8px;
    border-radius: 15px;
    color: var(--color01);
    text-align: center;
}
.field-name{
    font-weight: bold;
}
.Conteudo-detalhes{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.left-detalhes {
    width: 48%;
    padding-left: 2px;
}
.left-detalhes > img {
    width: 100%;
    border-radius: 2%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.411);

}
.right-detalhes{
    align-items: center;
    justify-content: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}