body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 260px;
    min-height: 260px;

}


main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80.8vh;
}


.urso-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.urso-foto {
    max-width: 100%;
    height: auto;
}
.container {
    display: flex;
    justify-content: center;
    height: 100%;
}




.urso-details {
    text-align: center;
}

.field-container {
    background-color: #FFD700; /* Cor amarela */
    border: 2px solid #FFD700; /* Cor da borda */
    border-radius: 10px; /* Borda arredondada */
    margin: 10px auto; /* Margem externa para espaçamento */
    max-width: 300px; /* Largura máxima */
    padding: 10px; /* Preenchimento interno */
}

.field-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.field-value {
    font-size: 18px;
}

.field-value img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    display: block; /* Para garantir que a imagem tenha seu próprio espaço */
}
.form-container {
    text-align: center;
    background: rgba(245, 245, 245, 1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.58);


}


/* ceteundo main */

/* -=-==-=-=-=-=-=-=-=-==-=-==-=--==-=-=-==-=-=-==- */

.conteudo-main{
  display: flex;
  flex-direction: row;
}

.conteudo-left{
  background-color: #eee3e3;
  box-shadow: 8px 8px 4px 0px #00000040;
  width: 50%;
  height: 80%;
  top: 25px;
  left: 31px;
  border-radius: 20px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.conteudo-esq{
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  
}

.bottons-main{
  background-color: #5A3632;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  padding: 10px 20px;

  gap: 0px;
  border-radius: 50px ;
  opacity: 0px;

  
}
.text-main{
  text-align: justify;
}

/* header */

/* -=-==-=-=-=-=-=-=-=-==-=-==-=--==-=-=-==-=-=-==- */
.topnav {
    overflow: hidden;
    background-color: #F3D6A7;
    position: relative;
    
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  .topnav #myLinks a:hover {
    background-color: #F3D6A7;
    color: gray;
  }
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #5A3632;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a.icon:hover {
    background-color: #F3D6A7;
    color: gray;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #5A3632;
    color: black;
  }

  

  /* foodelr */

/* -=-==-=-=-=-=-=-=-=-==-=-==-=--==-=-=-==-=-=-==- */

.footer{
background-color: #5A3632;
height: 5vh;

}



/* Doar */

/* -=-==-=-=-=-=-=-=-=-==-=-==-=--==-=-=-==-=-=-==- */

.image-container{
  width: 100%;
}
.image-container img{
  width: 110%;
}
.container {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 40%;
}




.form-container h1 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #CCC;
  border-radius: 5px;
}

.form-group input:focus {
  border-color: #A0A0A0;
  outline: none;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #FFF;
  background-color: #5A3632;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #5A3632;
}