:root{
    --color01: #FEFFF8;
}

.urso-list{
    background-color: var(--color01);
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    max-width: 780px;
}

.card{
    flex: 1 1 150px;
    height: 350px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    border-radius: 2%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.411);
    overflow: hidden;
}
.card:hover{
    height: 370px;
    background-color: #5A3632;
    color: var(--color01);
    font-size: 17px;
}
.urso-imagem {
    width: 300px;
    height: 300px;
    object-fit: cover;
    
}

@media only screen and (max-width: 800px) {
    .urso-list{
        display: flex;
        flex-direction: column;
    }
    .card{
        margin: 8px 15px;
    }
}