{% extends 'global/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'global/css/donation.css' %}">
<section>
    <div class="form">
        <div class="image">
            <img src="https://cdn.britannica.com/41/156441-050-A4424AEC/Grizzly-bear-Jasper-National-Park-Canada-Alberta.jpg" alt="foto urso">
        </div>
        <h1>Faça sua doação</h1>
        <form method="post">
            {% csrf_token %}
            <label for="username">Nome:</label>
            <input type="text" id="username" name="username" placeholder="Digite seu nome">
            <label for="valor">Valor:</label>
            <input type="number" id="valor" name="valor" placeholder="Digite um valor" required>
            <button type="submit">Doar</button>
        </form>
    </div>
</section>
{% endblock %}

